<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="weather-BaseUrl" value="https://api.openweathermap.org/data/2.5/group"/>
    <add key="weather-CityId" value="1105776,993800,964137,1007311,3369157"/>
    <add key="weather-Units" value="metric"/>
    <add key="weather-AppId" value="5b7f15002e3f93da28a50084d2ba3448"/>
    <add key="azure-HostName" value="weather-iot.azure-devices.net"/>
    <add key="azure-DeviceId" value="di-besterhuizen-weather-station"/>
    <add key="azure-SharedAccessKey" value="Oe3oyBVM1UmLdm5K/PS683lSxdqUTYUdDlZI91oIJ3o="/>
    <add key="weather-ClientApiUrl" value="https://localhost:44394/api/"/>
  </appSettings>
</configuration>